<div class="menuContainer">
    <nav class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="/assets/isa1.png">
                <p>AudacesManager</p>
            </a>

        </div>
        <div>
            <ul>
                <li><a class="fontMenu" routerLink="/home">Dashboard</a></li>
            </ul>
        </div>
        <div>
            <h3>CADASTROS</h3>
            <ul>
                <li><a class="fontMenu" routerLink="/colecoes">Coleções</a></li>
                <li><a class="fontMenu" routerLink="/modelos">Modelos</a></li>
            </ul>
        </div>
        <div>
            <h3>SUPORTE</h3>
            <ul>
                <li><span class="fontMenu">Obter Ajuda</span></li>
                <li><span class="fontMenu">Enviar Comentários</span></li>
            </ul>
        </div>
        <div class="logout">
            <ul>
                <li>
                    <a class="fontMenu" routerLink="/login" >Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>