<div class="background">
    <div class="LoginContainer">
        <img src="assets/Fill-51.png" alt="Ícone">
        <div>
            <a routerLink="/login"><img class="back" src="assets/Ícone.png" alt="Voltar"></a>
            <h1 class="title">Redefinir senha</h1>
            <p>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.</p>
        </div>
        <form>
            <input class="input" type="email" placeholder="informe seu e-mail">
            <button mat-flat-button type="submit" routerLink="/login">Enviar Recuperação</button>
        </form>
    </div>
</div>