.img {
    text-align: center;
}

img {

    height: 210px;
    object-fit: cover;
}

button {
    width: 160px;
    height: 40px;
    margin: 30px 20px 0 20px;
}

.btnCancel {
    background-color: #EBEBEB;
    color: #A098AE;
}

.footer {
    text-align: right;
}